includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    paths:
        - app/
        - config/
        - routes/
        - database/

    level: 6

    excludePaths:
        - vendor/
        - storage/
        - bootstrap/cache/

    ignoreErrors:
        # Laravel-specific patterns that are safe
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::#'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
